.navBar {
  /* position: unset !important; */
  position: sticky !important;
  top: 0;
  overflow: hidden;
  z-index: 1000 !important;
  background-color: white !important; /* Ensures visibility on scroll */
  border-bottom: 1px solid #f2f2f2 !important; /* Border below the navbar */
}

.navMenu a {
  text-decoration: none;
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: black;
  position: relative;
  display: inline-block;
  letter-spacing: 1.3px;
  font-size: 0.95rem !important; /* Fixed font size */
  border-radius: 11px;
  font-weight: 600 !important;
  transition: color 0.2s ease, font-weight 0.2s ease; /* Smooth transition */
}

.navMenu a:hover {
  color: #0d6efd !important;
}

.navMenu a.active {
  color: #0d6efd !important;
}

.navMenu a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #0d6efd;
  transition: width 0.3s ease-in-out;
  width: 100%;
}

.navMenu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #0d6efd;
  transition: width 0.3s ease-in-out;
}

.navMenu a:hover::after {
  width: 100%;
}

.applyNowBtn {
  border-radius: 11px !important;
  white-space: nowrap !important;
  border-color: transparent !important;
}

.navMenu a {
  font-weight: 600 !important;
  text-decoration: none !important;
}

.logoContainer {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
  font-size: 0.9rem;
}

.logoText {
  font-size: 0.95rem !important;
}

.logoSpan {
  display: inline-block;
  width: 3px;
  background-color: #ffc700;
  margin-right: 3px;
}

.logoSpan:nth-child(1) {
  height: 8px;
}

.logoSpan:nth-child(2) {
  height: 12px;
}

.logoSpan:nth-child(3) {
  height: 16px;
}

.logoSpan:nth-child(4) {
  height: 10px;
}

/* .customBtnContainer {
  margin-left: -5px;
} */
