.navBar {
  background-color: white !important;
  border-bottom: 1px solid #f2f2f2;
  color: #212121 !important;
}

/* .navMenu a {
  text-decoration: none;
  color: black;
} */



.navMenu a {
  text-decoration: none;
  /* padding: 0 !important; */
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* padding-bottom: 0.5rem !important; */
  color: black;
  position: relative;
  display: inline-block; /* Ensure inline block for width control */
}

.navMenu a.active::after {
  /* border-bottom: 2px solid #007bff;  */
  /* color: #007bff;  */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #007bff; /* Change this to your desired color */
  transition: width 0.3s ease-in-out; /* Smooth transition */
  width: 100%;
}

.navMenu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #007bff; /* Change this to your desired color */
  transition: width 0.3s ease-in-out; /* Smooth transition */
}

.navMenu a:hover::after {
  width: 100%;
}

.navLinksContainer {
  gap: 2.5rem;
}


.applyNowBtn {
  background-color: #eeeeee !important;
  border-radius: 11px !important;
  white-space: nowrap !important;
  border-color: transparent !important;
  margin-left: -0.8rem;
}

.navMenu a {
  color: #212121 !important;
  font-weight: 600 !important;
  text-decoration: none !important;
}

.logoContainer {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.logoSpan {
  display: inline-block;
  width: 3px;
  background-color: #ffc700;
  margin-right: 3px;
}

.logoSpan:nth-child(1) {
  height: 8px;
}

.logoSpan:nth-child(2) {
  height: 12px;
}

.logoSpan:nth-child(3) {
  height: 16px;
}

.logoSpan:nth-child(4) {
  height: 10px;
}

.customBtnContainer {
  margin-left: -5px;
}
