.imgContainer {
  position: relative;
  /* width: 100%; */
  /* padding-bottom: 100%; */
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.teamMembersSection h2 {
  width: 75%;
}

@media (max-width: 768px) {
  .teamMembersSection h2 {
   width: 100%;
  }
}
