.input, .textArea {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}

.input::placeholder,
.textArea::placeholder {
  color: #8fa8bb;
  font-size: 0.9rem;
}

.iframe {
    border-radius: 22px;
    margin-top: 1rem;
    width: 100% !important;
}

.iconContainer {
  background-color: var(--lightGreyContainerBG);
}