
.greyWideBtn {
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
  }
  
  .greyWideBtn:hover {
    background-color: var(--bsDark) !important;
    color: #fff !important;
  }
  