.testimonialBox {
  flex-grow: 1;
}

.testimonialBox > div:first-child {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.testimonialBox > span {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  margin: 0 auto;
  display: block;
}

.testimonialBox img {
  border-radius: 50%;
}

@media (max-width: 1308px) {
  .timeLineContainer {
    display: none;
  }
}
