body {
  height: 100%;
  color: #212121 !important;
  position: relative;
  font-family: Mulish, sans-serif !important;
  scroll-behavior: smooth;
  margin: 0 !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --border-radius-small: 10px;
  --lightGreyContainerBG: #f0f2f4;
  --lightGreyContainerBGDarker: #e4e7e9;
  --bsPrimary: #0d6efd;
  --lightGreyBadgeBG: #e2e1e1;
  --lightGreyBorder: #d0dbe7;
  --blueText: #4f7396;
  --bsDark: #212529;
}

main {
  height: 100vh;
}

.left-column {
  height: 100%;
  overflow-y: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.textBlue {
  color: var(--blueText);
}

.whiteBG {
  background-color: white;
}

hr {
  color: var(--lightGreyBorder) !important;
  opacity: 0.75 !important;
}

.lightBtnBackgroundColor {
  background-color: var(--lightGreyContainerBG) !important;
}

.tag {
  background-color: var(--lightGreyBadgeBG) !important;
}

.cardBoxShadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
  font-size: clamp(1.2rem, 4vw, 1.65rem) !important;
}

.lightGreyContainerBG {
  background-color: var(--lightGreyContainerBG);
}

.w100BTN {
  width: 100% !important;
}

.thickerWideBTN {
  padding: 0.7rem 2rem !important;
}

.section {
  padding-top: 2rem;
  flex-grow: 1;
}

.sectionWithBGcolor {
  padding-top: 2rem;
}

.xtraBold {
  font-weight: 800 !important;
}

.roundedImage {
  border-radius: var(--border-radius-small);
}

.rounded {
  border-radius: var(--border-radius-small) !important;
}

.imgContainer {
  position: relative;
  width: 100%;
  padding-bottom: 60.25%;
  overflow: hidden;
  cursor: pointer;
}

.customCard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.customCard img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
}

.cardWithGreyBorder {
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.logoCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  position: relative;
  background-color: #f0f2f4;
}

.bulletPoint {
  flex-shrink: 0; /* Prevent shrinking */
  width: 20px; /* Fixed width */
  height: 20px; /* Fixed height */
  background-color: #007bff; /* Blue color */
  border-radius: 4px; /* Optional for rounded corners */
  position: relative;
  margin-top: 4px; /* Align vertically with text */
}

.bulletPoint::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px; /* Width of checkmark arms */
  height: 10px; /* Length of checkmark */
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg); /* Position and angle */
}

p {
  margin: 0; /* Remove extra margin */
}

.primaryTimelineIconBG {
  background-color: var(--bsPrimary);
}

.primaryTimelineCardBorderTop {
  border-top: 4px solid var(--bsPrimary);
}

.dustyGreenTimelineIconBG {
  background-color: #7e9a92;
}

.dustyGreenTimelineCardBorderTop {
  border-top: 4px solid #7e9a92;
}

.lightSteelBlueTimelineIconBG {
  background-color: #a5b9d2;
}

.lightSteelBlueTimelineCardBorderTop {
  border-top: 4px solid #a5b9d2;
}

.slateBlueTimelineIconBG {
  background-color: #6a7f9b;
}

.slateBlueTimelineCardBorderTop {
  border-top: 4px solid #6a7f9b;
}

.navyTimelineIconBG {
  background-color: #354b6a;
}

.navyBlueTimelineCardBorderTop {
  border-top: 4px solid #354b6a;
}

@media (max-width: 1000px) {
  .section {
    padding: 2rem 0 0 1rem;
  }
}

@media (min-width: 1148px) {
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
