.heroContainer {
  position: relative;
  height: 60vh;
  min-height: 300px;
  max-height: 800px;
  overflow: hidden;
  border-radius: var(--border-radius-small);
}

.optionalDarkOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.textOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2.5rem;
  color: white;
  z-index: 10;
}

.textOverlay p {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .textOverlay {
    padding: 1.5rem;
  }
  .heroContainer {
    height: 57vh;
  }
}

@media (max-width: 478px) {
  .heroContainer {
    height: 60vh;
  }
}

@media (max-width: 400px) {
  .heroContainer {
    height: 72vh;
  }
}
