.blogImgContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.blogImgContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.blogDate {
    font-size: 0.85rem;
}


@media (max-width: 1200px) {
  .blogHeader {
    font-size: 1.2rem !important;
  }
}
