.tag {
  background-color: var(--lightGreyContainerBGDarker) !important;
}

.leftCol {
  border-right: 3px solid white;
}

.rightCol {
  border-left: 3px solid white;
}

.leftCol,
.rightCol {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.blueDot {
  width: 50px;
  height: 50px;
  /* background-color: var(--bsPrimary); */
  border-radius: 50%;
  border: 3px solid white;
  flex-shrink: 0;
}

.timeLineCardLeft {
  margin-right: -26px;
  z-index: 1000;
  width: fit-content;
}

.timeLineCardRight {
  z-index: 1000;
  width: fit-content;
  margin-left: -26px;
}

.week {
  border-left: 1px solid #e4e4e4;
}

.stepTitle {
  font-size: 1.35rem !important;
}

.timelineNum {
  font-size: 1.9rem !important;
}



/* .timelineContainer {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.timelineWrapper {
  position: relative;
  height: auto;
}

.timelineLine {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
}

.timelineDot {
  width: 16px;
  height: 16px;
  background-color: blue;
  border-radius: 50%;
}

.timelineCard {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */
